
body {
    background-color: whitesmoke;
}


.topnav-centered span {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 28px;
  color: white;
  font-weight: bolder;
}

.nav-item a {
    color: whitesmoke;
}

.nav-item i {
    color: cyan;
    padding-right: 3px;
}
