{% extends "base.html" %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}
     <div class="container">
        <form method="post" action="{% url 'accounts:register' %}" id="registerForm">
            {% csrf_token %}
            {% bootstrap_form form layout='vertical' %}
            <button type="submit" class="btn btn-primary">Register</button>

            <br><br>
            <p><a href="{% url 'accounts:login' %}">Login</a></p>

        </form>
    </div>

{% endblock content %}